.container {
	text-align: center;
	width: 100px;
}
.toggle-switch {
	position: relative;
	width: 100px;
	display: inline-block;
	text-align: center;
	top: 8px;
}
.checkbox {
	display: none;
}
.label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 0 solid black;
	border-radius: 20px;
}
.inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
	float: left;
	width: 50%;
	height: 36px;
	padding: 0;
	line-height: 36px;
	color: #fff;
	font-weight: 300;
	box-sizing: border-box;
}
.inner:before {
	content: "Cerrar filtro";
	background-color: grey;
	color: #fff;
}
.inner:after {
	content: "Abrir filtro";
	background-color: black;
	color: #fff;
	text-align: center;
}
.switch {
	/* display: block;
	width: 24px;
	margin: 5px;
	background: rgb(0, 0, 0);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 175px;
	border: 0 solid #bbb;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
	z-index: 2; */
}
.checkbox:checked + .label .inner {
	margin-left: 0;
}
.checkbox:checked + .label .switch {
	right: 0px;
}

.toggleContainer {
	display: flex;
	justify-content: Center;
	padding: 10px 0 10px 0;
	transition: all 0.5s ease;
}
