.link-to {
  font-weight: bold;
  text-decoration: underline;
  margin: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color.5s;
}

.lin-to:hover {
  background-color: rgba(235, 203, 62, 0.829);
}
