.wrap-booking {
  margin: 50px;
  padding: 15px;
  border: 1px dashed black;
  min-width: 300px;
  font-weight: bold;
}

.title-booking {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(var(--secondary-color-soft));
}

.header-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.option-booking{
  bottom: 0;
}

.photo-booking {
  display: flex;
  justify-content: center;
}

.card-img-booking {
  min-width: 300px;
  min-height: 150px;
  object-fit:cover;
}


.btns-bookings {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.btn-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  padding: 25px;
  height: 2.2rem;
  font-size: 1.2rem;
}

