.wrap-booking {
  margin: 50px;
  border: 1px dashed black;
  min-width: 280px;
  font-weight: bold;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.title-booking {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(var(--secondary-color-soft));
  padding: 5px 0;
}

.header-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.photo-booking {
  display: flex;
  justify-content: center;
}

.card-img-booking {
  min-width: 280px;
  min-height: 120px;
  object-fit:cover;
}

.options-booking{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.btns-booking {
  position: relative;
  width: 100%;
  display: flex;
  

} 


.btn-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  padding: 25px 15px;
  width: 33.33%;
  height: 2.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {

  

}

@media screen and (min-width: 1400px) {
	
}

