.wrap-content .exp-picture {
	object-fit: cover;
	width: 85%;
	border-radius: 0 9px;
	gap: 4px;
}

.accordion-section {
	padding: 1rem 0;
}

.precio-unidad {
	display: flex;
	justify-content: end;
	font-size: 1.4rem;
}

.precio-total {
	padding: 1rem 0;
	display: flex;
	justify-content: end;
	font-size: 1.8rem;
	text-decoration: underline;
}

.btn-back {
	position: absolute;
	margin: 6px;
	right: 6px;
	text-transform: uppercase;
	font-size: 0.7rem;
	width: 4rem;
	height: 1.5rem;
	color: black;
	background-color: white;
	border: none;
	border-radius: 50px;
	display: none;
}

.experience-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.title-description {
	font-weight: 400;
	font-size: 0.8rem;
	line-height: normal;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 85%;
	text-align: center;
}

.booking-form {
	display: flex;
	flex-direction: column;
	height: 350px;
	justify-items: center;
	background-color: rgb(var(--primary-color-soft));
}

#select-date {
	padding: 2rem 0;
	display: flex;
	height: 33%;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid rgba(214, 210, 210, 0.594);
}

#select-quantity {
	display: flex;
}

.tickets-booking {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
}

#select-quantity label {
	padding-right: 45px;
}
#select-quantity input {
	text-align: center;
	width: 50px;
	flex-grow: 0;
	border: none;
}

.description-text {
	margin: 12px 0;
	line-height: 1.5;
}

.photo-thumbnail {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.img-top {
	justify-self: flex-start;
}

.button-quantity {
	width: 1.8rem;
	height: 1.8rem;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 50%;
}

.tickets-booking {
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 12px 2;

	border-bottom: 2px solid rgba(214, 210, 210, 0.594);
	height: 33%;
}

.pay-method {
	padding: 2rem 0;
	height: 33%;
	line-height: 2;
	display: flex;
	flex-direction: column;

	align-items: center;
	border-bottom: 2px solid rgba(214, 210, 210, 0.594);
}

.pay-option {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.pay-option input {
	margin-right: 10px;
}

.right-align {
	display: flex;
	justify-content: flex-end;
}

.normatives {
	list-style: none;
	text-align: left;
	line-height: normal;
}

.check-out {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
}
