
.editmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: Roboto, 'sans-serif';
    min-width: 390px;
    min-height: 350px;
  
}

.editmenu li {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    font-weight: bold;
    list-style-type: none;
    color: white;
    padding: 2rem; 
}

.editmenu div {
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding-right: 2rem;
}
    
    
    