.editForm{
	background-color: rgb(var(--primary-font-color));
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 0.5rem 0;
	margin-bottom: 12%;
	margin-left: auto;
	margin-right: auto;
}

.editForm h2{
	margin-bottom: 40px;

}

.editLabel {
	display: flex;
	justify-content: left;
	min-width: 280px;
	font-weight: bold;
	font-size: 1rem;
}

.editInput {
	display: flex;
	padding: 1rem;
	min-width: 280px;
	justify-content: left;
	min-height: 2rem;
	border:none;
	border-bottom: 1px solid grey;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}