
.editpassword {
margin: 50px;
border: 1px solid white;
}

.editpassword h2 {

font-size: 1rem;
overflow: auto;
text-align: center;
margin-bottom: 20px;
}

.editpassword input{
display: flex;
justify-content: center;
align-items: center;
margin: 1rem;
width: 260px;
height: 40px;
color: black;
background-color: rgb(221, 208, 208);
}

.editpassword label {
text-transform:inherit;
text-align: center;
}

.editpassword button{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 40px;
    margin-left: 100px;
  
    width: 5rem;
    color: white;


    background-color: #000000;
	
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	width: 10rem;
	border-radius: 20px;
	height: 3rem;
	margin-bottom: 1rem;
	border: none;
	cursor: pointer; 
    
}

.editpassword button:hover {
    box-shadow: 5px 10px 30px 5px rgba(76, 74, 74, 0.39);
}