#rate-exp-header-voted {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 253, 154);
  font-size: 1.4rem;
}

#rate-exp-header-unvoted {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--secondary-color-soft));
  font-size: 1.4rem;
  padding: 12px 0;
  margin: 20px 0;
}

#rate-exp {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-rate-exp {
  font-size: 1.2rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.rateExperience-textarea {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 4rem;
  border: none;
  margin: 16px 0;
  padding: 6px;
}

.stars-rate-experience {
  margin: 12px 0;
}

.btn-bottom {
  margin: 2rem 0;
}
