.others-opinions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.stars-count-opinions {
  margin: 0;
  width: 80px;
}

.review-data {
  margin-left: 12px;
  width: 100%;
}

.detail-review {
  font-size: 10px;
}
