.reserved-card {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.reserved-card .exp-picture {
  margin: 1rem auto;
  width: 100%;
  max-height: 240px;
}

.accordion-section {
  width: 90vw;
  margin: 1rem auto;
}

.btn-comprar {
  margin-left: auto;
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  height: 3rem;
  width: 10rem;
  border: 2px solid slategray;
}

.precio-unidad {
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: end;
  font-size: 1.4rem;
}

.precio-total {
  margin: 1rem 0 2rem;
  display: flex;
  justify-content: end;
  font-size: 1.8rem;
}

.btn-back {
  position: absolute;
  margin: 6px;
  right: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: 4rem;
  height: 1.5rem;
  color: black;
  /* background-color: transparent; */
  background-color: white;
  border: none;
  border-radius: 50px;
}

.rating-back {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
}

.experience-data {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-description {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#select-date {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  gap: 6px;
}

#select-quantity {
  margin: 30px 0 10px;
  display: flex;
  align-items: center;
}

#select-quantity label {
  padding-right: 45px;
}
#select-quantity input {
  text-align: center;
  width: 50px;
  flex-grow: 0;
}

.description-text {
  margin: 12px 0;
  line-height: 1.5;
}

.photo-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.button-quantity {
  width: 1.8rem;
  height: 1.8rem;
  background-color: black;
  color: white;
  font-weight: bold;
}

.tickets-booking {
  margin: 12px 0;
}

.pay-method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.pay-option {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pay-option input {
  margin-right: 10px;
}
.pay-option label {
  background-color: aqua;
}
