#popup-bg {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--primary-color-hard), 0.7);
  width: 100vw;
  height: 100vh;
}

#popup-fg {
  background-color: rgb(var(--primary-color-soft));
  width: 80%;
  max-width: 560px;
  height: 30%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 3px 2px 8px black;
  padding: 10px;
}

#popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#popup-fg h3,
#popup-fg h2 {
  text-align: center;
}

#email-recovery {
  height: 1.7rem;
  border: none;
  padding-left: 7px;
  box-shadow: 2px 2px 3px grey;
}
