div.contact-form-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	margin: auto;
}

div.contact-form {
	background-color: white;
	padding: 1rem;
	align-items: center;
}

.contact-form button {
	background-color: #000;
	color: #fff;
	border-radius: 30px;
	max-width: 350px;
	margin: auto;
	padding: 1rem 3rem;
}

.contact-form input {
	padding: 5px;
	font-size: 18px;
}

.contact-form label {
	text-transform: uppercase;
}

.contact-form {
	display: flex;
	flex-direction: column;
}
