.Filter {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  width: 100%;
}

.category-filter,
.location-filter {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  font-size: 2rem;
  justify-content: center;
  margin-left: 1rem;
}

.price-filter {
  display: flex;
  color: black;

  height: 100%;
}

.start-price,
.end-price {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-content: center;
  font-size: 19px;
  margin-left: 3rem;
  margin-right: 3rem;
  min-height: 90px;
}

.select {
  color: #000;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 1.5rem;
  border: none;
  letter-spacing: 2px;
}

/* .option {
  color: #000;

  background-color: white;

  border: none;
  letter-spacing: 2px;
  margin: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
} */


.slider-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1;
  color: rgb(0, 0, 0);
  width: 100%;
  transform: translate(0, 37px);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0.356);
  cursor: pointer;
  
}









@media (max-width: 390px) {
  body {
    background-color: white;
  }
  .Filter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .category-filter,
  .location-filter {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .price-filter {
    flex-direction: column;
    width: 100%;
  }
}
