.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  gap: 20px;
  padding: 0;
  margin: 15px 0;
}

.info {
  height: 16rem;
  display: flex;
  text-align: center;
  line-height: 2.5;
  align-items: center;
}
