.hero {
	position: relative;
	width: 100vw;
	height: 350px;
	display: flex;

	justify-content: center;
	align-items: center;
	background: url("https://source.unsplash.com/random/?adventures");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.searchContainer {
	display: flex;
	width: 100;
}

.filterContainer {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	text-align: center;
	justify-content: center;
}

.searchBar,
.LocationSearch,
.PriceSearch,
.RatingSearch {
	display: flex;
	justify-content: center;
}

/* .searchBar:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
} */

.search-form {
	width: 90%;
	max-width: 700px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}

.input-search {
	width: 50%;
	color: white;
	padding: 5px 15px;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 1.5rem;
	border: none;
	letter-spacing: 2px;
}

.input-search:focus {
	outline: none;
}

.search-button {
	padding: 6px;
	border: none;
	color: white;
	background-color: transparent;
	/* position: absolute; */
	height: 2rem;
	font-size: 1.4rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	transform: translate(-50px, 1px);
}

.calendar-button {
	border: none;
	color: white;
	background-color: transparent;

	font-size: 2rem;
	cursor: pointer;
	transform: translate(-15px);
}

.search-button:hover {
	transform: scale(1.4);
	transform: translate(-50px, 1px);
}

.Filter {
	display: flex;
	flex-direction: column;
	color: rebeccapurple;
	width: 90vw;
	margin: 10px 0;
}

.filter-toggle {
	display: flex;
	justify-content: center;
}

.button-toggle {
	padding: 10px 15px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}

.custom-input {
	display: none;
}

@media (min-width: 820px) {
	.Filter {
		flex-direction: row;
	}
}

@media (max-width: 390px) {
	.searchBar {
		height: 200px;
	}

	.search-form {
		width: 75%;

		z-index: 2;
	}

	.Filter {
		flex-direction: row;
	}
}
