.Editavatar{
  border-radius: 20px;
	background-color: rgba(235, 203, 62, 0.829);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
	min-height: 350px;
	margin: 40px;
}

.Editavatar h2{
  margin-top: 1rem;
}


.Editavatar button {
  margin-top: 30px;
  margin-left: 150px;
  border-radius: 30px;
  height: 3rem;
  width: 5rem;
  color: white;
  background-color: black;
}

.Editavatar img {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  cursor: pointer;
}
