.Editavatar{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
  min-width: 330px;
	min-height: 350px;
	margin: 40px;
}

.Editavatar h2{
  margin-bottom: 20px;
}

.Editavatar img {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 12rem;
  min-width: 12rem;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
