.searchBar {
  position: relative;
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://source.unsplash.com/random/?adventures');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.searchBar:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-form {
  width: 100%;
  max-width: 700px;
  z-index: 2;
}

.input-search {
  width: 100%;
  color: white;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  border: none;
  letter-spacing: 2px;
}

.input-search:focus {
  outline: none;
}

.search-button {
  padding: 6px;
  border: none;
  color: white;
  background-color: transparent;
  position: absolute;
  height: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-button:hover {
  transform: scale(1.4);
}

.Filter {
  display: flex;
  flex-direction: column;
  color: rebeccapurple;
  width: 90vw;
  margin: 10px 0;
}

.filter-toggle {
  display: flex;
  justify-content: center;
}

.button-toggle {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

@media (min-width: 820px) {
  .Filter {
    flex-direction: row;
  }
}

@media (max-width: 390px) {
  .searchBar {
    height: 200px;
  }

  .search-form {
    width: 75%;

    z-index: 2;
  }

  .Filter {
    flex-direction: row;
  }
}
