#main_header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 3rem;
  min-height: 80px;
}

.menuprincipal {
 color: #ff553a;

}

@media (max-width: 768px) { 
  .hamb-menu{
    display: none;
  }
  
}

@media (min-width: 500px) { 
  .menuescritorio{
   display: flex;
   flex-wrap: wrap;
  }
  
  
}