#main_header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 3rem;
  min-height: 80px;
}

.menuprincipal {
 color: #ff553a;

}

@media screen and (min-width: 768px) { 
  .hamb-menu{
    display: none;
  }

  .menuescritorio {
    display: flex;
    flex-wrap: wrap;
   

  }
  .menucategory {
    position: absolute;
    z-index: 3;
    margin-top:  5rem;
    
  }
  
}


