.navbar {
    display: flex;
    position: absolute;
    margin-top: 4rem;
    z-index: 100;
    background-color: black;
    width:100vmax;
    opacity: 70%;
}
li {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    color: white;
}