
.editpassword {
margin: 50px;
border: 1px solid white;
}

.editpassword h2 {
font-size: 1rem;
overflow: auto;
text-align: center;
}

.editpassword input{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(221, 208, 208);
}

.editpassword label {
text-transform:inherit;
text-align: center;
}

.editpassword button{
display: flex;
justify-content: center;
align-items: center;
margin-top: 2rem;;
}