
.editpassword {
margin: 50px;
border: 1px solid white;
}

.editpassword h2 {

font-size: 1rem;
overflow: auto;
text-align: center;
margin-bottom: 20px;
}

.editpassword input{
display: flex;
justify-content: center;
align-items: center;
margin: 1rem;
width: 260px;
height: 40px;
color: black;
background-color: rgb(221, 208, 208);
}

.editpassword label {
text-transform:inherit;
text-align: center;
}

.editpassword button{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 3rem;
    width: 5rem;
    color: white;
    background-color: black;

    
}