.single-card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.exp-picture {
  margin: 1rem auto;
  width: 90vw;
  max-height: 240px;
}

.accordion-section {
  width: 90vw;
  margin: 1rem auto;
}

.ratin-comprar {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-comprar {
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  height: 3rem;
  width: 10rem;
  border: 2px solid slategray;
}

#precio {
  font-size: 2.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: end;
}
