.single-card {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
}

.single-card > p {
	display: flex;
	margin: 1rem 1rem;
}

.exp-picture {
	width: 100%;
	max-height: 240px;
	border-radius: 20px;
}

.accordion-section {
	width: 90vw;
	margin: 1rem auto;
}

.ratin-comprar {
	
	display: flex;
	justify-content: flex-end;

}


#precio-exp {
	font-size: 2.5rem;
	margin-top: 1rem;
	display: flex;
	justify-content: end;
}

.back-div {
	display: flex;
	justify-content: flex-end;
}

.exp-description {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
	border-bottom: 2px solid rgba(214, 210, 210, 0.594);
	padding: 1rem;
	border-top: 2px solid rgba(214, 210, 210, 0.594); 
}

.map-container {
	height: 200px;
}

.mapboxgl-ctrl-attrib-inner {
	display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: #121212;
	color: #fff;
	box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}
.buttonback {
	position: fixed;
	background-color: black;
	z-index: 2000;
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	width: 5rem;
	border-radius: 20px;
	height: 3rem;
	
	border: none;
	letter-spacing: 1px;
	cursor: pointer; 
	margin-top: 1rem;
	right: 1rem;
	bottom: 2rem;

}

.description {
	font-weight: bold;
	font-size: 1.5rem;
}

.ratin-comprar button {
	z-index: 90;
	background-color: #ee6a2c;
}


.ratin-comprar button:hover {
	background-color: green;
}
.accordion-section {
	width: 100%;
	border-top: 2px solid rgba(214, 210, 210, 0.594); 
	border-bottom: 2px solid rgba(214, 210, 210, 0.594); 

}