.footer{
  padding: 1em 0;
  margin-top: auto;
  color: black;
  background-color:salmon;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
}

h2 {
  text-align: center;
  padding: 1rem;
}


.newsletter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


ul{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  
  padding-top: 1rem;
  margin: 1rem;
  list-style-type: none;

}


#email{
  border-radius: 30px;
  height: 3rem;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid slategray;
}



.enviar{

  border-radius: 30px;
  font-size: 1rem;
  height: 3rem;
  width: 5rem;
  border: 2px solid slategray;
  
}

#politica{
  height: 20px;
  width: 20px;
  margin-top: 1rem;
  margin-right: 10px;

}

label{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a:visited{
  color:darkslateblue;
  
}

a:link{
  color: black;
}

a:hover{
  font-weight: bold;
}


