.booking-details {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#vota {
  background-color: green;
}

#no-vota {
  background-color: rebeccapurple;
}

.btn-other-bookings {
  color: white;
  background-color: black;
  height: 1.8rem;
  width: 30%;
}

.btns-other-bookings {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.other-card {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.other-info {
  display: flex;
  flex-direction: row;
}
