 .menuescritorio{
    background-color: rgb(82, 79, 79);
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;

   
}

.itemmenuescritorio{
    color: black;
    list-style: none;
    font-size: 1.5rem;
    margin: 2rem;
    display: flex;
  flex-direction: column;
    font-weight: bold;
    cursor: pointer;
 
}


.menunavegacionDesktop{
  color: purple;
  display: flex;
  flex-direction: row;
}
.itemmenucategory {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  width: 100vmax;
  padding: 1rem;
  font-weight: bold;

  
}
.menucategory {
  display: flex;

background-color: white;
  justify-content: center;
 position: relative;
 width: 100%;
}


.itemmenucategory:hover {
  background-color: black;
  opacity: 90%;
  transition: all;
  cursor: pointer;
  color: white; 
  width: 100%;
  
}