.menuescritorio {
	background-color: rgb(82, 79, 79);
	color: black;
	width: 100%;
	display: flex;
	justify-content: space-around;
	display: none;
}

.itemmenuescritorio {
	color: black;
	list-style: none;
	font-size: 1.5rem;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	cursor: pointer;
}

.menunavegacionDesktop {
	display: flex;
	flex-direction: row;
}
.itemmenucategory {
	list-style: none;
	cursor: pointer;
	font-size: 1.5rem;
	width: 100%;
	padding: 1rem;
	font-weight: bold;
}

.itemmenucategory:hover {
	background-color: white;
	color: black;
}

.menucategory {
	display: flex;
	background-color: rgb(82, 79, 79);
	justify-content: center;

	position: relative;
}

.drop-cat {
	display: flex;
	position: absolute;
	top: 10rem;
	flex-direction: column;
	z-index: 3;
	color: white;
	background-color: #514f50;
}

.both {
	display: flex;
	flex-direction: column;

	align-items: center;
}
