 .menuescritorio{
    background-color: rgb(238, 170, 170);
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;

   
}

.itemmenuescritorio{
    color: black;
    list-style: none;
    font-size: 1.5rem;
    margin: 2rem;
    display: flex;
  flex-direction: column;
    font-weight: bold;
 
}


.menunavegacionDesktop{
  color: purple;
  display: flex;
  flex-direction: row;
}
