.edit-exp-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 25px 0;
  text-align: center;
  flex-grow: 1;
}

#edit-exp-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#edit-exp-name {
  width: 80%;
  font-size: 1.2rem;
  word-break: break-word;
  border: none;
}
#edit-exp-description {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6rem;
  word-break: normal;
}

#edit-exp-description > textarea {
  width: 100%;
  margin: 0 10px;
  border: none;
}

.edit-sect-activar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-figure-experience {
  display: flex;
  justify-content: center;
}
.photo-experience {
  border-radius: 10px;
  max-height: 200px;
}

.btn-update-experience {
  margin: 1rem 0 0;
  height: 2.5rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}
