.admin-exp-wrapper {
	background-color: white;
}

#title-admin-cat {
	text-align: center;
	background-color: white;
}

.input-search {
	display: flex;
	justify-content: space-between;
}

#link-create-cat {
	margin: 16px;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.error-info {
	margin: 5rem 0;
	text-align: center;
	width: 100%;
	font-size: 2rem;
}

.form-wrap {
	margin: 20px 0;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
}

.create-exp a {
	text-decoration: none;
}
