* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;
}

.loading {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20%;
}

.fade_in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title-center {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
