.wrapped-form {
  margin: 3rem auto;
  max-width: 360px;
}

.center-text {
  text-align: center;
}

.main-title {
  height: 2rem;
}

@media screen and (min-width: 768px) {
  .wrapped-form {
    margin: 5rem auto;
    max-width: 580px;
  }
}
