.title-booking {
  font-size: 1.2rem;
  padding: 6px 0;
  text-align: center;
}

.wrap-booking {
  margin: 1rem 0;
  padding: 10px;
  background-color: antiquewhite;
}

.options-booking {
  display: flex;
}

.photo-booking {
  display: flex;
  justify-content: center;
  min-width: 80%;
}

.btns-bookings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-img-booking {
  max-width: 100%;
  padding: 0 10px;
}

.btn-booking {
  color: white;
  background-color: black;
  height: 1.8rem;
}
